<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign In</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <div class="box signin">
      <h1>Sign In</h1>
      <form action="/auth/login" method="post" id="JWTapi">
        <div class="form-group error text-center" id="invalidPassword">
          Invalid email or password.
        </div>
        <div class="form-group">
          <div>
            <label for="email">Email</label>
          </div>
          <div>
            <input type="email" class="text-input" id="email" name="email" placeholder="Email" 
              value="dom.garcia@test.com"
              required>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="password">Password</label>
          </div>
          <div>
            <input type="password" class="text-input" id="password" name="password" placeholder="Password"
              value="password"
              required>
          </div>
        </div>
        <div class="btn-wrapper text-center mb-10">
          <button type="submit" class="btn">Log in</button>
        </div>
      </form>
      <div class="btn-wrapper text-center">
        <a class="btn btn-orange btn-sm" href="/signup">Sign Up</a>
      </div>
    </div>
  </div>

  <script>
    var url = new URL(window.location.href);
    var badCredentials = url.searchParams.get('bad_credentials');
    if (!badCredentials) {
      document.getElementById('invalidPassword').style.display = 'none';
    }
    
    // JWT implementation
    var base = 'http://localhost:3001'
    var data = {
      email: "dom.garcia@test.com",
      password: "password"
    };

    var JWTapi = document.querySelector('#JWTapi');
    JWTapi.addEventListener('submit', function(e) {
      e.preventDefault();
      
      fetch(base + '/auth/login', {
        method: 'POST',
        mode: 'cors',
        cache: 'no-cache',
        credentials: 'same-origin',
        headers: {'Content-Type': 'application/json',},
        redirect: 'follow',
        referrer: 'no-referrer',
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then((result) => {
        localStorage.setItem('token', result.token);
        localStorage.setItem('csrf',  result.csrf);
        window.location = '/';
      })
      .catch(error => console.log(error.message));
    });
    
  </script>
</body>

</html>